# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: dex-k8s-authenticator-helm-values
  namespace: security
type: Opaque
stringData:
  values.yaml: |
    global:
      deployEnv: ${ENVIRONMENT}
    dexK8sAuthenticator:
      clusters:
      - name: k8s
        short_description: "k8s ${ENVIRONMENT} cluster"
        description: "k8s ${ENVIRONMENT} cluster"
        client_secret: ${DEX_K8S_AUTHENTICATOR_CLIENT_SECRET}
        issuer: https://dex.${DOMAIN}
        k8s_master_uri: https://k8s.${DOMAIN}:6443
        client_id: dex-k8s-authenticator
        redirect_uri: https://login.${DOMAIN}/callback/
        k8s_ca_pem: |
          -----BEGIN CERTIFICATE-----
          MIIBeDCCAR2gAwIBAgIBADAKBggqhkjOPQQDAjAjMSEwHwYDVQQDDBhrM3Mtc2Vy
          dmVyLWNhQDE2MzQxOTEyMzEwHhcNMjExMDE0MDYwMDMxWhcNMzExMDEyMDYwMDMx
          WjAjMSEwHwYDVQQDDBhrM3Mtc2VydmVyLWNhQDE2MzQxOTEyMzEwWTATBgcqhkjO
          PQIBBggqhkjOPQMBBwNCAAT6tLln5+6ckANLjq0RmgV5Pt5bvfprrLQYvo3tOp84
          sL1xXYeOMhK6UCBOHleExIPFNZWqShSaCqrtTg3Duecuo0IwQDAOBgNVHQ8BAf8E
          BAMCAqQwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUwTLsszbfDSTwmpVFFgNi
          FTwLDsgwCgYIKoZIzj0EAwIDSQAwRgIhAI9TEzUYb54dL+t42aA+7FH0tsiZCcrf
          11W+pcn5UbZWAiEAsLqkKcYMGfQQtzm9/V1frQPAv+2y7GQtfqMhniISvwo=
          -----END CERTIFICATE-----
