# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: dex-k8s-authenticator-helm-values
  namespace: security
type: Opaque
stringData:
  values.yaml: |
    global:
      deployEnv: ${ENVIRONMENT}
    dexK8sAuthenticator:
      clusters:
      - name: k8s
        short_description: "k8s ${ENVIRONMENT} cluster"
        description: "k8s ${ENVIRONMENT} cluster"
        client_secret: ${DEX_K8S_AUTHENTICATOR_CLIENT_SECRET}
        issuer: https://dex.${DOMAIN}
        k8s_master_uri: https://k8s.${DOMAIN}:6443
        client_id: dex-k8s-authenticator
        redirect_uri: https://login.${DOMAIN}/callback/
        k8s_ca_pem: |
          -----BEGIN CERTIFICATE-----
          MIIBeDCCAR2gAwIBAgIBADAKBggqhkjOPQQDAjAjMSEwHwYDVQQDDBhrM3Mtc2Vy
          dmVyLWNhQDE2NTQzNjQ0NjUwHhcNMjIwNjA0MTc0MTA1WhcNMzIwNjAxMTc0MTA1
          WjAjMSEwHwYDVQQDDBhrM3Mtc2VydmVyLWNhQDE2NTQzNjQ0NjUwWTATBgcqhkjO
          PQIBBggqhkjOPQMBBwNCAAS4F9XXDRcmysy7uQfLTNH9Z4z7fPYxG8xEXL/0qgYK
          Ea6wKpbHp4IkWh0O2yMU+7B/BEeByprt6S9E5y+8R2Zxo0IwQDAOBgNVHQ8BAf8E
          BAMCAqQwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUMzA6dNBmJAFQwoTMhbiT
          y6XDufAwCgYIKoZIzj0EAwIDSQAwRgIhAKX5kTJdqoVf630z/f+KgdV34jnyu6MC
          5Pi950/Spiq3AiEA/4uWzBbq9dKRIROpy7Sxz5Hslw3RAkqUJySziIcQaN4=
          -----END CERTIFICATE-----
