# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: dex-k8s-authenticator-helm-values
  namespace: security
type: Opaque
stringData:
  values.yaml: |
    global:
      deployEnv: ${ENVIRONMENT}
    dexK8sAuthenticator:
      clusters:
      - name: k8s
        short_description: "k8s ${ENVIRONMENT} cluster"
        description: "k8s ${ENVIRONMENT} cluster"
        client_secret: ${DEX_K8S_AUTHENTICATOR_CLIENT_SECRET}
        issuer: https://dex.${DOMAIN}
        k8s_master_uri: https://k8s.${DOMAIN}:6443
        client_id: dex-k8s-authenticator
        redirect_uri: https://login.${DOMAIN}/callback/
        k8s_ca_pem: |
          -----BEGIN CERTIFICATE-----
          MIIBdzCCAR2gAwIBAgIBADAKBggqhkjOPQQDAjAjMSEwHwYDVQQDDBhrM3Mtc2Vy
          dmVyLWNhQDE2MzM1NTM1NTAwHhcNMjExMDA2MjA1MjMwWhcNMzExMDA0MjA1MjMw
          WjAjMSEwHwYDVQQDDBhrM3Mtc2VydmVyLWNhQDE2MzM1NTM1NTAwWTATBgcqhkjO
          PQIBBggqhkjOPQMBBwNCAATbFYk/hroy18JoOQTNSSxjhb2Ag6g3X7YBuEBxJOIM
          QYObHYw9dfy8UHVTVjBkSD7tU1V2Y8Jdb0Fq2L4MrmTyo0IwQDAOBgNVHQ8BAf8E
          BAMCAqQwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUbynpHy26tQGSQ3DqVVHZ
          gVk8HzAwCgYIKoZIzj0EAwIDSAAwRQIgGkSkkvxvqoYEgPTPXz0gACEQEz+iCrZ5
          pKSsW7vK7tkCIQDxK/7xp/cwXN+9x1VltxCT+w1YLGXwdefXGu9VwF9Qkg==
          -----END CERTIFICATE-----
