# yamllint disable
apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: velero-helm-values
    namespace: velero
stringData:
  values.yaml: |
    configuration:
      provider: aws
      backupStorageLocation:
        name: default
        bucket: velero-${ENVIRONMENT}
        config:
          region: ${MINIO_REGION_NAME}
          s3ForcePathStyle: true
          s3Url: https://minio.${LOCAL_DOMAIN}
