# yamllint disable
apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: velero-creds
    namespace: velero
stringData:
  cloud: |
    [default]
    aws_access_key_id=${VELERO_MINIO_ACCESS_KEY}
    aws_secret_access_key=${VELERO_MINIO_SECRET_KEY}
