# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: botkube-helm-values
  namespace: observability
type: Opaque
stringData:
  values.yaml: |
    communications:
      slack:
        enabled: true
        channel: "${BOTKUBE_SLACK_CHANNEL}"
        token: "${BOTKUBE_SLACK_TOKEN}"
        notiftype: short
