# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: rtlamr-collect
  namespace: observability
type: Opaque
stringData:
  meters: "${RTLAMR_METERS}"
  msgtype: "${RTLAMR_MSGTYPE}"
  influxdb-token: "${INFLUXDB_USER}:${INFLUXDB_PASSWORD}"
