# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: rtlamr-collect
  namespace: home-automation
type: Opaque
stringData:
  values.yaml: |
    env:
      RTLAMR_DURATION: 5m
      RTLAMR_FILTERID: "${RTLAMR_METERS}"
      RTLAMR_MSGTYPE: "${RTLAMR_MSGTYPE}"
      COLLECT_INFLUXDB_TOKEN: "${INFLUXDB_USER}:${INFLUXDB_PASSWORD}"
