# yamllint disable
apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: cloudflare-api-token
    namespace: networking
stringData:
  cloudflare_api_token: ${CLOUDFLARE_TOKEN}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: external-dns-helm-values
    namespace: networking
stringData:
  values.yaml: |
    cloudflare:
      email: "${CLOUDFLARE_EMAIL}"
