# yamllint disable
apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: external-dns-helm-values
    namespace: networking
stringData:
  cloudflare_api_key: ${CLOUDFLARE_TOKEN}
  values.yaml: |
    cloudflare:
      email: "${CLOUDFLARE_EMAIL}"
