# common
ENVIRONMENT="example"
DOMAIN="example.com"
LOCAL_DOMAIN="example2.com"

# alertmanager
ALERTMANAGER_SLACK_WEBHOOK="https://hooks.slack.com/services/xxxxxxxx"

# authelia
AUTHELIA_SMTP_USERNAME="user@example.com"
AUTHELIA_SMTP_PASSWORD="xxxxxxxx"
AUTHELIA_SMTP_IDENT="localhost"
AUTHELIA_POSTGRES_PASSWORD="xxxxxxxx"
AUTHELIA_REDIS_PASSWORD="xxxxxxxx"
AUTHELIA_SESSION_ENCRYPTION_KEY="xxxxxxxx"
AUTHELIA_STORAGE_ENCRYPTION_KEY="xxxxxxxx"
AUTHELIA_OIDC_PRIVATE_KEY="xxxxxxxx"
AUTHELIA_OIDC_PUBLIC_KEY="xxxxxxxx"
AUTHELIA_OIDC_HMAC_SECRET="xxxxxxxx"
AUTHELIA_OIDC_K8S_CLIENT_SECRET="xxxxxxxx"
AUTHELIA_VPN_CIDR="192.168.100.0/24"
AUTHELIA_USER_CIDR="192.168.200.0/24"
AUTHELIA_ENCRYPTION_KEY="xxxxxxxx"

# aws
AWS_ACCESS_KEY_ID="xxxxxxxx"
AWS_SECRET_ACCESS_KEY="xxxxxxxx"
AWS_DEFAULT_REGION="us-east-2"

# blocky
BLOCKY_LB_IP="192.168.0.205"
NEXTDNS_ID="xxxxxxxx"
DNS_SERVER="192.168.0.1"

# cloudflare
CLOUDFLARE_EMAIL="user@example.com"
CLOUDFLARE_TOKEN="xxxxxxxx"
CLOUDFLARE_KEY="xxxxxxxx"

# dex
DEX_K8S_AUTHENTICATOR_CLIENT_SECRET="xxxxxxxx"

# docker
DOCKER_PRIVATE_REGISTRY="username"
DOCKER_PULL_SECRET="xxxxxxxx"

# falco-sidekick
FALCO_SIDEKICK_SLACK_WEBHOOK="https://hooks.slack.com/services/xxxx"

# flux
FLUX_KEY_NAME="Name (Flux) <user@example.com>"
FLUX_KEY_FP="xxxxxxxx"
FLUX_SLACK_WEBHOOK="xxxxxxxx"

# frigate
FRIGATE_CAM1_NAME="camera-1"
FRIGATE_CAM1_DETECT_URL="xxxxxxxx"
FRIGATE_CAM1_RECORD_URL="xxxxxxxx"
FRIGATE_CAM2_NAME="camera-2"
FRIGATE_CAM2_DETECT_URL="xxxxxxxx"
FRIGATE_CAM2_RECORD_URL="xxxxxxxx"
FRIGATE_CAM3_NAME="camera-3"
FRIGATE_CAM3_DETECT_URL="xxxxxxxx"
FRIGATE_CAM3_RECORD_URL="xxxxxxxx"
FRIGATE_CAM4_NAME="camera-4"
FRIGATE_CAM4_DETECT_URL="xxxxxxxx"
FRIGATE_CAM4_RECORD_URL="xxxxxxxx"
FRIGATE_CAM5_NAME="camera-5"
FRIGATE_CAM5_DETECT_URL="xxxxxxxx"
FRIGATE_CAM5_RECORD_URL="xxxxxxxx"

# github
GITHUB_REPOSITORY="https://github.com/example/repo"
GITHUB_BRANCH="main"

# gpg
PERSONAL_KEY_NAME="Name (US) <user@example.com>"
PERSONAL_KEY_FP="xxxxxxxx"

# home-assistant
HASS_HACS_TOKEN="xxxxxxxx"
HASS_LOCATION_LAT="xxxxxxxx"
HASS_LOCATION_LONG="xxxxxxxx"
HASS_ALARM_CODE="1234"
HASS_GIT_REPO="git@github.com:example/repo.git"
HASS_DEPLOY_KEY_B64="xxxxxxxx"
HASS_POSTGRES_USER="pguser"
HASS_POSTGRES_PASSWORD="xxxxxxxx"
HASS_POSTGRES_DATABASE="home_assistant"
HASS_PROMETHEUS_TOKEN="xxxxxxxx"
HASS_POSTGRES_USER="xxxxxxxx"
HASS_POSTGRES_PASSWORD="xxxxxxxx"
HASS_POSTGRES_DATABASE="xxxxxxxx"
HASS_TABLET_HOST="192.168.0.100"
HASS_TABLET_PASSWORD="xxxxxxxx"

# istio
ISTIO_LB_IP="192.168.0.101"

# influxdb
INFLUXDB_USER="influxdb"
INFLUXDB_PASSWORD="xxxxxxxx"

# joplin
JOPLIN_POSTGRES_USER="joplin"
JOPLIN_POSTGRES_PASSWORD="xxxxxxxx"
JOPLIN_POSTGRES_DATABASE="joplin"

# k3s
K3S_HA_SAN="k8s.example.com"
K3S_HA_VIP="192.168.0.100"
K3S_CLUSTER_CIDR="10.233.64.0/18"
K3S_SERVICE_CIDR="10.233.0.0/18"

# ldap
LDAP_SERVER="ldap.example.com"
LDAP_ADMIN_USERNAME="root"
LDAP_ADMIN_PASSWORD="xxxxxxxx"
LDAP_ROOT="dc=ldap,dc=example,dc=com"

# loki
LOKI_MINIO_REGION_NAME="region"
LOKI_MINIO_ACCESS_KEY="xxxxxxxx"
LOKI_MINIO_SECRET_KEY="xxxxxxxx"

# metallb
METALLB_LB_RANGE="192.168.0.200-192.168.0.220"

# minio
MINIO_REGION_NAME="region"
MINIO_ACCESS_KEY="xxxxxxxx"
MINIO_SECRET_KEY="xxxxxxxx"

# mqtt
MQTT_LB_IP="192.168.0.203"
MQTT_USERNAME="mqtt"
MQTT_PASSWORD="xxxxxxxx"
MQTT_PWD="xxxxxx"

# nfs
NFS_HOST="192.168.0.2"
NFS_BACKUP_PATH="/some/backup/path"
NFS_SHARED_PATH="/some/shared/path"
NFS_PHOTOS_PATH="/some/photos/path"
NFS_VIDEOS_PATH="/some/media/path"
NFS_CCTV_PATH="/some/cctv/path"
NFS_PROMETHEUS_PATH="/some/path"

# openfaas
OPENFAAS_BASIC_USER="user"
OPENFAAS_BASIC_PASSWORD="xxxxxxxx"

# rtlamr-collect
RTLAMR_METERS="11111111,22222222"
RTLAMR_MSGTYPE="scm,scm+"
RTLAMR_INFLUXDB_DBNAME="rtlamr_collect"

# rsyslog
RSYSLOG_LB_IP="192.168.0.202"

# rtltcp
RTLTCP_LB_IP="192.168.0.206"

# terraform
TF_VAR_ssh_username="nucstack"
TF_VAR_ssh_password="p@ssword123"
TF_VAR_environment="example"
TF_VAR_services='[{"name": "nucstack-1","subnet": "192.168.0.0/24","size": "","count": 10,"start_ip": 25}]'
TF_VAR_kubernetes_host="https://${K3S_HA_SAN}:6443"

# traefik
TRAEFIK_LB_IP="192.168.0.204"

# unifi
UNIFI_URL="https://unifi.example.com"
UNIFI_USERNAME="unifi-poller"
UNIFI_PASSWORD="xxxxxxxx"

# unifi-downloader
UNIFI_DOWNLOADER_HOST="192.168.0.1"
UNIFI_DOWNLOADER_USERNAME="some-user"
UNIFI_DOWNLOADER_PASSWORD="xxxxxxxxx"

# vault
VAULT_TOKEN="xxxxxxxx"
VAULT_ADDR="https://vault.example.com"

# vaultwarden
VAULTWARDEN_ADMIN_TOKEN="xxxxxx"
VAULTWARDEN_SMTP_FROM="xxxxxx"
VAULTWARDEN_SMTP_USERNAME="xxxxxx"
VAULTWARDEN_SMTP_PASSWORD="xxxxxx"

# velero
VELERO_MINIO_REGION_NAME="region-name"
VELERO_MINIO_ACCESS_KEY="xxxxxxxx"
VELERO_MINIO_SECRET_KEY="xxxxxxxx"

# zigbee
ZIGBEE_NETWORK_KEY="1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1"

# zwave
ZWAVE_NETWORK_KEY="xxxxxxxx"

# zomboid
ZOMBOID_SERVERNAME="test"
ZOMBOID_ADMINPASSWORD="password"
ZOMBOID_LB_IP="192.168.0.208"
