#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(expand_path ./kubeconfig)

# authelia
export AUTHELIA_SMTP_USERNAME="someuser@gmail.com"
export AUTHELIA_SMTP_PASSWORD="xxxxxxxxxx"
export AUTHELIA_SMTP_IDENT="localhost"
export AUTHELIA_POSTGRES_PASSWORD="xxxxxxxxxx"
export AUTHELIA_REDIS_PASSWORD="xxxxxxxxxx"

# bootstrap
export PERSONAL_KEY_NAME="FirstName LastName (US) <email>"
export PERSONAL_KEY_FP="xxxxxxxxxxxxxxxxxxxxxxxxxxx"
export FLUX_KEY_NAME="ClusterName (Flux) <email>"
export FLUX_KEY_FP="xxxxxxxxxxxxxxxxxxxxxxxxx"
export BOOTSTRAP_CLOUDFLARE_EMAIL="email"
export BOOTSTRAP_CLOUDFLARE_TOKEN="xxxxxxxxxxxxxxxxxxxxxxx"
export BOOTSTRAP_GITHUB_REPOSITORY="https://github.com/<RepoName>"
export BOOTSTRAP_DOMAIN="example.com"
export BOOTSTRAP_METALLB_LB_RANGE="192.168.0.100-192.168.0.120"
export BOOTSTRAP_INGRESS_NGINX_LB="192.168.0.101"
export PRIVATE_REGISTRY="registry.example.com"

# botkube
export BOTKUBE_SLACK_CHANNEL="slack-channel"
export BOTKUBE_SLACK_TOKEN="xxxxxxxxxxxxxxxxxxxxxxx"

# home-assistant
export HASS_HACS_TOKEN="xxxxxxxxxxxxxxxxxxxxxxx"    
export HASS_LOCATION_LAT="00.000000"
export HASS_LOCATION_LONG="-00.000000"
export HASS_ALARM_CODE="1234"
export HASS_MAGICMIRROR_APIKEY="apiKey: xxxxxxxxxxxxxxxxxxxxxxx"
export HASS_GIT_REPO="git@github.com:user/home-assistant-repo.git"
export HASS_DEPLOY_KEY_B64="xxxxxxxxxxxxxxxxxxxxxxx"
export HASS_POSTGRES_USER="xxxxxxxxxxxxxxxxxxxxxxx"
export HASS_POSTGRES_PASSWORD="xxxxxxxxxxxxxxxxxxxxxxx"
export HASS_POSTGRES_DATABASE="xxxxxxxxxxxxxxxxxxxxxxx"

# influxdb
INFLUXDB_USER="xxxxxxxxxxxxxxxxxxxxxxx"
INFLUXDB_PASSWORD="xxxxxxxxxxxxxxxxxxxxxxx"

# ldap
export LDAP_ADMIN_USERNAME="xxxxxxxxxxxxxxxxxxxxxxx"
export LDAP_ADMIN_PASSWORD="xxxxxxxxxxxxxxxxxxxxxxx"
export LDAP_USERS="user1,user2"
export LDAP_GROUP="users"
export LDAP_PASSWORDS="12345,67890"
export LDAP_ROOT="dc=example,dc=com"

# mosquitto
export MQTT_USER="xxxxxxxxxxxxxxxxxxxxxxx"
export MQTT_PASSWORD="xxxxxxxxxxxxxxxxxxxxxxx"

# nfs
export NFS_HOST="192.168.0.100"
export NFS_BACKUP_PATH="/some/backup/path"

# proxmox
export PM_TLS_INSECURE=false
export PM_API_URL="https://proxmox.example.com/api2/json"
export PM_PASS="xxxxxxxxxxxxx"
export PM_USER="user@pve"

# rsyslog
export RSYSLOG_LB_IP="192.168.0.100"

# rtlamr-collect
export RTLAMR_METERS="<meter-id-1>,<meter-id-2>"
export RTLAMR_MSGTYPE="scm,scm+"
export RTLAMR_INFLUXDB_DBNAME="rtlamr_collect"

# unifi
export UNIFI_URL="https://unifi.example.com"
export UNIFI_USERNAME="xxxxxxxxxxxxxxx"
export UNIFI_PASSWORD="xxxxxxxxxxxxxxx"

# zigbee
export ZIGBEE_NETWORK_KEY="1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1"

# zwave
export ZWAVE_NETWORK_KEY="xxxxxxxxxxxxxxxxxxxxxxx"