
# bootstrap
ENVIRONMENT="example"
BOOTSTRAP_CLOUDFLARE_EMAIL="email"
BOOTSTRAP_CLOUDFLARE_TOKEN="xxxxxxxxxxxxxxxxxxxxxxx"
BOOTSTRAP_GITHUB_REPOSITORY="https://github.com/<RepoName>"
BOOTSTRAP_GITHUB_BRANCH="main"
BOOTSTRAP_DOMAIN="example.com"
BOOTSTRAP_METALLB_LB_RANGE="192.168.0.100-192.168.0.120"
BOOTSTRAP_INGRESS_NGINX_LB="192.168.0.101"

# AWS
AWS_ACCESS_KEY_ID="xxxxxxxxxxxxx"
AWS_SECRET_ACCESS_KEY="xxxxxxxxxxxxxx"
AWS_DEFAULT_REGION="us-east-2"

# tailscale
TAILSCALE_AUTH_KEY="xxxxxxxxxxxxxxxx"

# k8s
K8S_HA_SAN="k8s.example.com"
K8S_HA_VIP="192.168.0.10"
K8S_HA_INTERFACE="eth0"
K8S_DATASTORE_ENDPOINT="postgres://<username>:<password>@<host>:<port>/<db-name>?sslmode=disable"

# gpg
PERSONAL_KEY_NAME="FirstName LastName (US) <email>"
PERSONAL_KEY_FP="xxxxxxxxxxxxxxxxxxxxxxxxxxx"

# flux
FLUX_KEY_NAME="ClusterName (Flux) <email>"
FLUX_KEY_FP="xxxxxxxxxxxxxxxxxxxxxxxxx"

# docker
PRIVATE_REGISTRY="docker-registry"
DOCKER_PULL_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxx"

# ansible
ANSIBLE_ADDITIONAL_HOSTS="hostname-1,192.168.0.10 hostname-2,192.168.0.11"

# authelia
AUTHELIA_SMTP_USERNAME="someuser@someprovider.com"
AUTHELIA_SMTP_PASSWORD="xxxxxxxxxx"
AUTHELIA_SMTP_IDENT="localhost"
AUTHELIA_POSTGRES_PASSWORD="xxxxxxxxxx"
AUTHELIA_REDIS_PASSWORD="xxxxxxxxxx"

# botkube
BOTKUBE_SLACK_CHANNEL="slack-channel"
BOTKUBE_SLACK_TOKEN="xxxxxxxxxxxxxxxxxxxxxxx"

# home-assistant
HASS_HACS_TOKEN="xxxxxxxxxxxxxxxxxxxxxxx"    
HASS_LOCATION_LAT="00.000000"
HASS_LOCATION_LONG="-00.000000"
HASS_ALARM_CODE="1234"
HASS_GIT_REPO="git@github.com:user/home-assistant-repo.git"
HASS_DEPLOY_KEY_B64="xxxxxxxxxxxxxxxxxxxxxxx"
HASS_PROMETHEUS_TOKEN="xxxxxxxxxxxxxxxxxxxxx"

# influxdb
INFLUXDB_USER="xxxxxxxxxxxxxxxxxxxxxxx"
INFLUXDB_PASSWORD="xxxxxxxxxxxxxxxxxxxxxxx"

# ldap
LDAP_ADMIN_USERNAME="xxxxxxxxxxxxxxxxxxxxxxx"
LDAP_ADMIN_PASSWORD="xxxxxxxxxxxxxxxxxxxxxxx"
LDAP_USERS="user1,user2"
LDAP_GROUP="users"
LDAP_PASSWORDS="12345,67890"
LDAP_ROOT="dc=example,dc=com"

# nfs
NFS_HOST="192.168.0.100"
NFS_BACKUP_PATH="/some/backup/path"

# proxmox
PM_TLS_INSECURE=false
PM_API_URL="https://proxmox.example.com/api2/json"
PM_PASS="xxxxxxxxxxxxx"
PM_USER="user@pve"

# rsyslog
RSYSLOG_LB_IP="192.168.0.100"

# rtlamr-collect
RTLAMR_METERS="<meter-id-1>,<meter-id-2>"
RTLAMR_MSGTYPE="scm,scm+"
RTLAMR_INFLUXDB_DBNAME="rtlamr_collect"

# unifi
UNIFI_URL="https://unifi.example.com"
UNIFI_USERNAME="xxxxxxxxxxxxxxx"
UNIFI_PASSWORD="xxxxxxxxxxxxxxx"

# zigbee
ZIGBEE_NETWORK_KEY="1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1"

# zwave
ZWAVE_NETWORK_KEY="xxxxxxxxxxxxxxxxxxxxxxx"