[submodule "ansible/playbooks/kubespray"]
	path = ansible/playbooks/kubespray
	url = git@github.com:kubernetes-sigs/kubespray.git
[submodule "external/k8s-security-policies"]
	path = external/k8s-security-policies
	url = https://github.com/raspbernetes/k8s-security-policies
