# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
# terraform
.terraform
terraform/k3s-cluster/.terraform.lock.hcl
.envrc
*_ssh_private_key
*.tfstate
*.auto.tfvars