# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: thanos-objstore
  namespace: observability
type: Opaque
stringData:
  objstore.yml: |
    type: FILESYSTEM
    config:
      directory: "/data"
