# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: thanos-objstore
  namespace: observability
type: Opaque
stringData:
  objstore.yml: |
    type: S3
    config:
      bucket: "thanos-${ENVIRONMENT}"
      endpoint: "minio.${LOCAL_DOMAIN}"
      region: "${MINIO_REGION_NAME}"
      access_key: "${MINIO_ACCESS_KEY}"
      secret_key: "${MINIO_SECRET_KEY}"
