---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps
  namespace: flux-system
spec:
  interval: 10m0s
  dependsOn:
  - name: core
  path: ./k8s/apps/overlays/nucstack-2
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  decryption:
    provider: sops
    secretRef:
      name: sops-gpg
  postBuild:
    substitute: {}
    substituteFrom:
    - kind: ConfigMap
      name: global-settings
    - kind: Secret
      name: global-secrets
    - kind: ConfigMap
      name: cluster-settings
    - kind: Secret
      name: cluster-secrets
