# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: authelia-postgres-helm-values
  namespace: security
type: Opaque
stringData:
  values.yaml: |
    auth:
      username: "authelia"
      password: "${AUTHELIA_POSTGRES_PASSWORD}"
      database: "authelia"
