---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: authelia
  namespace: security
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.authelia.com
      chart: authelia
      version: 0.8.21
      sourceRef:
        kind: HelmRepository
        name: authelia-charts
        namespace: flux-system
      interval: 5m
  timeout: 20m
  values:
    image:
      registry: ghcr.io
      repository: authelia/authelia
      tag: 4.34.6
    persistence:
      enabled: true
      storageClass: "longhorn"
      size: 100Mi
    resources:
      limits:
        cpu: 400m
        memory: 512Mi
      requests:
        cpu: 200m
        memory: 256Mi
    domain: "${SECRET_DOMAIN}"
    ingress:
      enabled: true
      tls:
        enabled: true
        secret: authelia-cert # checkov:skip=CKV_SECRET_6 secret ref
      annotations:
        kubernetes.io/ingress.class: traefik
        traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
      subdomain: auth
    pod:
      kind: Deployment
      replicas: 1
      updateStrategy: RollingUpdate
      resources:
        limits:
          cpu: 1000m
          memory: 128Mi
        requests:
          cpu: 250m
          memory: 64Mi
    podDisruptionBudget:
      enabled: false
      minAvailable: 1
    configMap:
      log:
        level: debug
      default_redirection_url: "https://home.${SECRET_DOMAIN}"
      enabled: true
      storage:
        postgres:
          enabled: false
        local:
          enabled: true
          path: /config/db.sqlite3
      session:
        inactivity: 30m
        redis:
          enabled: false

  valuesFrom:
    - kind: Secret
      name: authelia-helm-values
