---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: loki
  namespace: observability
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://grafana.github.io/helm-charts
      chart: loki
      version: 2.12.2
      sourceRef:
        kind: HelmRepository
        name: grafana-loki-charts
        namespace: flux-system
      interval: 5m
  valuesFrom:
    - kind: Secret
      name: loki-helm-values
  values:
    image:
      repository: ghcr.io/k8s-at-home/loki
    ingress:
      enabled: false
      annotations:
        kubernetes.io/ingress.class: "traefik"
        traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
        traefik.ingress.kubernetes.io/router.middlewares: "networking-basic-auth@kubernetescrd"
      hosts:
        - host: "loki.${SECRET_DOMAIN}"
          paths:
            - /
      tls:
        - hosts:
            - "loki.${SECRET_DOMAIN}"
    serviceMonitor:
      enabled: true
    rbac:
      pspEnabled: false
    resources:
      requests:
        memory: 1024Mi
        cpu: 200m
      limits:
        memory: 2048Mi
        cpu: 400m
    config:
      limits_config:
        enforce_metric_name: false
        reject_old_samples: true
        reject_old_samples_max_age: 168h
        ingestion_rate_mb: 4
        ingestion_burst_size_mb: 6
      storage_config:
        boltdb_shipper:
          active_index_directory: /data/loki/index
          cache_location: /data/loki/cache
          resync_interval: 5m
          shared_store: s3
      ruler:
        storage:
          type: local
          local:
            directory: /rules
        rule_path: /tmp/scratch
        alertmanager_url: http://prometheus-alertmanager:9093
        ring:
          kvstore:
            store: inmemory
        enable_api: true
    alerting_groups:
      - name: wireguard-login
        rules:
          - alert: WireguardLogin
            expr: |
              sum by (SRC) (count_over_time({unit=~"udm-pro.+"}| logfmt | IN = "eth8",DPT = "65535"[15m])) > 0
            for: 10s
            labels:
              severity: info
              category: logs
            annotations:
              summary: "Wireguard User has logged in"
      - name: unifi-protect-login
        rules:
          - alert: UnifiProtectLogin
            expr: |
              sum by (user) (count_over_time({app="unifi-protect",unit="clientnotify",user!=""}[15m])) > 0
            for: 10s
            labels:
              severity: info
              category: logs
            annotations:
              summary: "Unifi Protect User has logged in"
      - name: smart-failure
        rules:
          - alert: SmartFailures
            expr: |
              sum by (hostname) (count_over_time({hostname=~".+"} |~ "(?i).*smartd.*(error|fail).*"[2m])) > 0
            for: 10s
            labels:
              severity: critical
              category: logs
            annotations:
              summary: "SMART has reported failures a drive"
      - name: zigbee2mqtt
        rules:
          - alert: ZigbeeUnableToReachMQTT
            expr: |
              sum(count_over_time({app="zigbee2mqtt"} |= "Not connected to MQTT server"[2m])) > 0
            for: 10s
            labels:
              severity: critical
              category: logs
            annotations:
              summary: "Zigbee2mqtt is unable to reach MQTT"
      - name: home-assistant
        rules:
          - alert: HomeAssistantUnableToReachPostgresql
            expr: |
              sum by (app) (count_over_time({app=~"home-assistant"} |= "Error in database connectivity during commit"[2m])) > 0
            for: 10s
            labels:
              severity: critical
              category: logs
            annotations:
              summary: "Home Assistant is unable to connect to postgresql"
