# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: loki-helm-values
  namespace: observability
stringData:
  values.yaml: |
    config:
      storage_config:
        aws:
          s3: "https://${LOKI_MINIO_ACCESS_KEY}:${LOKI_MINIO_SECRET_KEY}@minio.${LOCAL_DOMAIN}./loki-${ENVIRONMENT}"
          region: "${LOKI_MINIO_REGION_NAME}"
          s3forcepathstyle: true
