# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: unifi-downloader
  namespace: home-automation
type: Opaque
stringData:
  UNIFI_HOST: ${UNIFI_DOWNLOADER_HOST}
  UNIFI_USER: ${UNIFI_DOWNLOADER_USERNAME}
  UNIFI_PWD: ${UNIFI_DOWNLOADER_PASSWORD}
