---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: esphome
  namespace: home-automation
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: esphome
      version: 8.2.0
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 10m
  timeout: 10m
  values:
    resources:
      limits:
        cpu: 800m
        memory: 1500Mi
      requests:
        cpu: 200m
        memory: 1Gi
    image:
      repository: esphome/esphome
      tag: 2022.3.2
    env:
      ESPHOME_DASHBOARD_USE_PING: true
    ingress:
      main:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: traefik
          traefik.ingress.kubernetes.io/router.middlewares: "networking-internal-auth@kubernetescrd"
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
        hosts:
          - host: "esphome.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - "esphome.${SECRET_DOMAIN}"
            secretName: esphome-tls # checkov:skip=CKV_SECRET_6 secret ref
    persistence:
      config:
        enabled: true
        existingClaim: esphome
        mountPath: /config
