---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: dex
  namespace: security
spec:
  releaseName: dex
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.dexidp.io/
      chart: dex
      version: 0.9.0
      sourceRef:
        kind: HelmRepository
        name: dex-charts
        namespace: flux-system
      interval: 5m
  valuesFrom:
    - kind: Secret
      name: dex-helm-values
  values:
    image:
      repository: ghcr.io/dexidp/dex
      tag: v2.33.0
    env:
      KUBERNETES_POD_NAMESPACE: security
    ingress:
      enabled: false
      className: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
      hosts:
        - host: "dex.${SECRET_DOMAIN}"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - "dex.${SECRET_DOMAIN}"
          secretName: dex-cert # checkov:skip=CKV_SECRET_6 secret ref

    config:
      issuer: https://dex.${SECRET_DOMAIN}
      storage:
        type: kubernetes
        config:
          inCluster: true

      web:
        http: 0.0.0.0:5556

      frontend:
        theme: dark

      expiry:
        signingKeys: "6h"
        idTokens: "24h"

      logger:
        level: debug
        format: json

      oauth2:
        responseTypes: ["code", "token", "id_token"]
        skipApprovalScreen: true
        alwaysShowLoginScreen: false

      enablePasswordDB: false

    resources:
      requests:
        memory: 250Mi
        cpu: 25m
      limits:
        memory: 250Mi
