# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: zomboid-helm-values
  namespace: games
stringData:
  values.yaml: |
    args: [
      "-servername",
      "${ZOMBOID_SERVERNAME}",
      "-adminpassword",
      "${ZOMBOID_ADMINPASSWORD}"
    ]
