# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: vaultwarden
  namespace: security
type: Opaque
stringData:
  ADMIN_TOKEN: "${VAULTWARDEN_ADMIN_TOKEN}"
  SMTP_FROM: "${VAULTWARDEN_SMTP_FROM}"
  SMTP_USERNAME: "${VAULTWARDEN_SMTP_USERNAME}"
  SMTP_PASSWORD: "${VAULTWARDEN_SMTP_PASSWORD}"
