# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: influxdb-auth
  namespace: observability
stringData:
  influxdb-user: "${INFLUXDB_USER}"
  influxdb-password: "${INFLUXDB_PASSWORD}"
