# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: github-actions-runner-controller-manager
  namespace: development
type: Opaque
stringData:
  github_app_id: "${GITHUB_APP_ID}"
  github_app_installation_id: "${GITHUB_INSTALL_ID}"
  github_app_private_key: "${GITHUB_APP_PRIVATE_KEY}"
