#!/bin/bash

# register instance with tailscale
sudo tailscale up --authkey "${TAILSCALE_AUTH_KEY}"

sleep 10
TAILSCALE_IP=$(tailscale ip --4)

# k3s server
k3s server --advertise-ip $TAILSCALE_IP --flannel-iface tailscale0