#!/bin/bash

# register instance with tailscale
sudo tailscale up --authkey "${TAILSCALE_AUTH_KEY}"

sleep 10
TAILSCALE_IP=$(tailscale ip --4)

# k3s agent
k3s agent --node-ip $TAILSCALE_IP --flannel-iface tailscale0
k3s agent --server https://${K3S_MASTER}:6443 --flannel-iface tailscale0 --node-ip ${$TAILSCALE_IP} --token ${NODE_TOKEN}