#!/bin/bash

# register instance with tailscale
sudo tailscale up --authkey "${TAILSCALE_AUTH_KEY}"

# k3s server
k3s server --advertise-ip $TAILSCALE_IP --flannel-iface tailscale0

# # On a different node run the below. NODE_TOKEN comes from /var/lib/rancher/k3s/server/node-token
# # on your server
# sudo k3s agent --server https://10.10.10.1:6443 --flannel-iface tailscale0 --node-ip 10.10.10.2 --token $NODE_TOKEN