# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: ubiquiti-watcher-helm-values
  namespace: home-automation
type: Opaque
stringData:
  values.yaml: |
    env:
      MQTT_HOST: "mosquitto"
      MQTT_USERNAME: "${MQTT_USERNAME}"
      MQTT_PASSWORD: "${MQTT_PASSWORD}"
      REFRESH_RATE: "120"
      DESIRED_PRODUCTS: "G4 Doorbell Pro PoE Adapter"
