# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: juypterlab-helm-values
  namespace: home-automation
stringData:
  values.yaml: |
    env:
      postgresqlUsername: "${HASS_POSTGRES_USER}"
      postgresqlPassword: "${HASS_POSTGRES_PASSWORD}"
      postgresqlDatabase: "${HASS_POSTGRES_DATABASE}"
