# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: authelia-redis-helm-values
  namespace: security
type: Opaque
stringData:
  values.yaml: |
    auth:
      password: ${AUTHELIA_REDIS_PASSWORD}
