---
apiVersion: v1
kind: Config
clusters:
  - name: default
cluster:
  certificate-authority-data: ${KUBECONFIG_CA}
  server: https://${K3S_HA_SAN}:6443
contexts:
  - name: default
context:
  cluster: default
  user: default
users:
  - name: default
user:
  token: ${KUBECONFIG_TOKEN}
current-context: default
