#!/bin/bash

echo export TAILSCALE_AUTH_KEY="${TAILSCALE_AUTH_KEY}" >> /etc/profile

# register instance with tailscale
sudo tailscale up --authkey "${TAILSCALE_AUTH_KEY}"

# sudo k3s server --node-ip 10.10.10.1 --flannel-iface gre1 &
# # Kubeconfig is written to /etc/rancher/k3s/k3s.yaml
# sudo k3s kubectl get node

# # On a different node run the below. NODE_TOKEN comes from /var/lib/rancher/k3s/server/node-token
# # on your server
# sudo k3s agent --server https://10.10.10.1:6443 --flannel-iface gre1 --node-ip 10.10.10.2 --token $NODE_TOKEN