# yamllint disable
---
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: docker-secret
  namespace: home-automation
data:
  .dockerconfigjson: "${DOCKER_PULL_SECRET}"
