---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: node-feature-discovery
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://kubernetes-sigs.github.io/node-feature-discovery/charts
      chart: node-feature-discovery
      version: 0.11.0
      sourceRef:
        kind: HelmRepository
        name: node-feature-discovery-charts
        namespace: flux-system
  values:
    master:
      resources:
        limits:
          cpu: 300m
          memory: 128Mi
        requests:
          cpu: 100m
          memory: 64Mi
      tolerations:
        - key: "node-role.kubernetes.io/master"
          operator: "Equal"
          value: "true"
          effect: "NoSchedule"
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: "node-role.kubernetes.io/master"
                    operator: In
                    values: [""]
    worker:
      resources:
        limits:
          cpu: 300m
          memory: 128Mi
        requests:
          cpu: 100m
          memory: 64Mi
      config:
        core:
          sources:
            - custom
            - pci
            - usb
        sources:
          usb:
            deviceClassWhitelist:
              - "02"
              - "03"
              - "0e"
              - "ef"
              - "fe"
              - "ff"
            deviceLabelFields:
              - "class"
              - "vendor"
              - "device"
          custom:
            - name: "sdr"
              labels:
                custom-sdr: "true"
              matchFeatures:
                - feature: usb.device
                  matchExpressions:
                    class: {op: In, value: ["ff"]}
                    vendor: {op: In, value: ["0bda"]}
                    device: {op: In, value: ["2838"]}
            - name: "zwave"
              labels:
                custom-zwave: "true"
              matchFeatures:
                - feature: usb.device
                  matchExpressions:
                    class: {op: In, value: ["02"]}
                    vendor: {op: In, value: ["0658"]}
                    device: {op: In, value: ["0200"]}
            - name: "intel-gpu"
              labels:
                custom-intel-gpu: "true"
              matchFeatures:
                - feature: pci.device
                  matchExpressions:
                    class: {op: In, value: ["0300"]}
                    vendor: {op: In, value: ["8086"]}
            - name: "zigbee"
              labels:
                custom-zigbee: "true"
              matchFeatures:
                - feature: usb.device
                  matchExpressions:
                    class: {op: In, value: ["ff"]}
                    vendor: {op: In, value: ["1a86"]}
                    device: {op: In, value: ["7523"]}
            - name: "coral-tpu"
              labels:
                custom-coral-tpu: "true"
              matchFeatures:
                - feature: pci.device
                  matchExpressions:
                    class: {op: In, value: ["0880"]}
                    vendor: {op: In, value: ["1ac1"]}
      annotations:
        configmap.reloader.stakater.com/reload: "node-feature-discovery-worker-conf"
      tolerations:
        - effect: "NoExecute"
          operator: "Exists"
        - effect: "NoSchedule"
          operator: "Exists"
