# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: unifi-poller-helm-values
  namespace: observability
type: Opaque
stringData:
  values.yaml: |
    env:
      UP_UNIFI_DEFAULT_URL: "${UNIFI_URL}"
      UP_UNIFI_DEFAULT_USER: "${UNIFI_USERNAME}"
      UP_UNIFI_DEFAULT_PASS: "${UNIFI_PASSWORD}"
