# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: basic-auth
  namespace: development
type: Opaque
data:
  basic-auth-user: ${OPENFAAS_BASIC_USER}
  basic-auth-password: ${OPENFAAS_BASIC_PASSWORD}
