# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: vernemq-users
  namespace: home-automation
stringData:
  "DOCKER_VERNEMQ_USER_${VERNEMQ_USER1_USERNAME}": "${VERNEMQ_USER1_PASSWORD}"
