# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: falco-sidekick-helm-values
  namespace: security
type: Opaque
stringData:
  values.yaml: |
    config:
      slack:
        webhookurl: "${FALCO_SIDEKICK_SLACK_WEBHOOK}"
        footer: ""
        icon: ""
        username: "falco"
        outputformat: "all"
        minimumpriority: "error"
        messageformat: ""
