# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: mosquitto-config
  namespace: home-automation
stringData:
  mqtt.conf: |
    connection_messages false
    password_file /secret/mosquitto_pwd
    autosave_interval 60
