# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: mosquitto-config
  namespace: home-automation
stringData:
  mosquitto_pwd: ${MQTT_PWD}
  mqtt.conf: |
    log_dest stdout
    log_type error
    log_type warning
    log_type notice
    connection_messages true
    log_timestamp true
    password_file /mosquitto/configinc/mosquitto_pwd
