# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:  
  name: linkerd-certs
  namespace: linkerd
stringData:
  ca.crt: ${LINKERD_CA}
  issuer.crt: ${LINKERD_CRT}
  issuer.key: ${LINKERD_KEY}
