# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: atlantis-gitconfig
  namespace: development
stringData: |
  gitconfig:
    [user]
      name = atlantis
      email = dan@mcavinue.io
    [url "https://${ATLANTIS_GH_TOKEN}@github.com"]
      insteadOf = https://github.com
