# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: atlantis-vcs
  namespace: development
stringData:
  github:
    user: dan@mcavinue.io
    org: nucstack
    token: bar
    secret: baz
