# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
  name: atlantis-helm-values
  namespace: development
stringData:
  values.yaml: |
    orgWhitelist: ${ATLANTIS_ORG_WHITELIST}
    github:
      user: dan@mcavinue.io
      token: ${ATLANTIS_GH_TOKEN}
    gitconfig: |
      [user]
        name = dan
        email = dan@mcavinue.io
      [url "https://${ATLANTIS_GH_TOKEN}@github.com"]
        insteadOf = https://github.com
