---

name: Checkov

on: # yamllint disable-line rule:truthy
  workflow_dispatch:

jobs:
  checkov-job:
    runs-on: ubuntu-20.04
    name: checkov-action
    steps:
      - uses: actions/checkout@v2
      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          quiet: true
          framework: all
          output_format: github_failed_only
          skip_check: flux-system
          soft_fail: true
