---

name: Schedule - Update pre-commit hooks

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  schedule:
  - cron: '0 */12 * * *'

jobs:
  update-pre-commit:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit autoupdate
        run: pre-commit autoupdate

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/pre-commit-autoupdate
          delete-branch: true
          signoff: false
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          title: "chore(deps): upgrade pre-commit versions"
          commit-message: "chore(deps): upgrade pre-commit versions"
          body: |
            Update versions of tools in pre-commit configs to latest version
          labels: pre-commit/upgrade
