# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: dex-k8s-authenticator-helm-values
  namespace: security
type: Opaque
stringData:
  values.yaml: |
    dexK8sAuthenticator:
      clusters:
      - name: k8s
        short_description: "k8s ${ENVIRONMENT} cluster"
        description: "k8s ${ENVIRONMENT} cluster"
        client_secret: ${DEX_K8S_AUTHENTICATOR_CLIENT_SECRET}
        issuer: https://dex.${DOMAIN}
        k8s_master_uri: https://k8s.${DOMAIN}:6443
        client_id: dex-k8s-authenticator
        redirect_uri: https://login.${DOMAIN}/callback/
        k8s_ca_pem: |
          -----BEGIN CERTIFICATE-----
          MIIBeDCCAR2gAwIBAgIBADAKBggqhkjOPQQDAjAjMSEwHwYDVQQDDBhrM3Mtc2Vy
          dmVyLWNhQDE2MzExOTY3NjEwHhcNMjEwOTA5MTQxMjQxWhcNMzEwOTA3MTQxMjQx
          WjAjMSEwHwYDVQQDDBhrM3Mtc2VydmVyLWNhQDE2MzExOTY3NjEwWTATBgcqhkjO
          PQIBBggqhkjOPQMBBwNCAAQ/jB7McjqSdnab74vsYYnS3+fqmLT8sWuDFPssAWN+
          ESiZ8UopUlNc9QcxLjbMsTAJBc7b2jQD4e994iVL8eq3o0IwQDAOBgNVHQ8BAf8E
          BAMCAqQwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUGLLDPyKeYgYhUMydd6Yf
          3vtgkqQwCgYIKoZIzj0EAwIDSQAwRgIhANRRawRjB47/Bcycb8W1sSBBFstSSIGU
          Tzp0HS9z9ouLAiEAsEK+AgyrjtxuF0NZNLsWpTeeva/ydJ06B+H0lgwXzBo=
          -----END CERTIFICATE-----
